#{extends 'Submit/submitStep.html' /}
#{set title:'Vireo Thesis and Dissertation Submital System - Submission - Confirm & Submit' /}

<div class="row pageHead">
	<h1>Confirm &amp; Submit</h1>
</div>
<div class="row">
       <div class="span11">
               <h2>Instructions:</h2>
		   <p> #{verbatim}${instructions}#{/verbatim}</p>
	   </div>
</div>

#{ifErrors}
<div class="alert alert-error">
	<div class="alert-content">
		<h2>Error:</h2>
		<ul>
		    #{if errors.forKey('personalInfo')}
		        <li>There are errors on the "Verify Your Information" step. <a href="@{submit.PersonalInfo.personalInfo(subId)}">[visit step]</a></li>
		    #{/if}
		    #{if errors.forKey('license')}
		        <li>There are errors on the "License Agreement" step. <a href="@{submit.License.license(subId)}">[visit step]</a></li>
		    #{/if}
		    #{if errors.forKey('documentInfo')}
		        <li>There are errors on the "Document Information" step. <a href="@{submit.DocumentInfo.documentInfo(subId)}">[visit step]</a></li>
		    #{/if}
		    #{if errors.forKey('fileUpload')}
		        <li>There are errors on the "File Upload" step. <a href="@{submit.FileUpload.fileUpload(subId)}">[visit step]</a></li>
		    #{/if}
		</ul>
		<p><strong>You need to correct these errors before completing your submission.</strong></p>
	</div>
	
</div>
#{/ifErrors}

<div id="confirmSubmit">
<form action="@{submit.Confirm.confirm(subId)}" method="post" class="form-horizontal">
    #{include 'viewSubmission.include' /}
	
	#{ifEnabled [PRIMARY_ATTACHMENT,SUPPLEMENTAL_ATTACHMENT,SOURCE_ATTACHMENT,ADMINISTRATIVE_ATTACHMENT] }
	<fieldset>
		<legend>Uploaded File${ additionalDocuments.size() > 0 ? "s" : "" }</legend>
	
		#{ifEnabled PRIMARY_ATTACHMENT }
		<div class="control-group #{errorClass 'primaryDocument' /} ">
			<label class="control-label">#{fieldLabel PRIMARY_ATTACHMENT /}:</label>
			<div class="controls">
			    #{if primaryDocument != null}
				    <p>
				         <a href="@{Student.viewAttachment(subId,primaryDocument.getId(),primaryDocument.getName())}" target="_blank">${primaryDocument.getName()}</a>
				         (${primaryDocument.getDisplaySize()})
				     </p>
				#{/if}
				#{else}
				     <p><em>No primary document uploaded</em>
				#{/else}
			</div>
		</div>
		#{/ifEnabled}
		#{ifEnabled [SUPPLEMENTAL_ATTACHMENT,SOURCE_ATTACHMENT,ADMINISTRATIVE_ATTACHMENT]}
	    #{if additionalDocuments.size() > 0}
	    <div class="control-group #{errorClass 'additonalDocument' /} ">
	        <label class="control-label">Additional Documents:</label>
	        <div class="controls">
	            #{list items:additionalDocuments, as:'attachment'}
	            <p>
	                <a href="@{Student.viewAttachment(subId,attachment.getId(),attachment.getName())}" target="_blank">${attachment.getName()}</a>
	                (${attachment.getType()} - ${attachment.getDisplaySize()})
	            </p>
	            #{/list}
	        </div>
	    </div>
	    #{/if}
	    #{/ifEnabled}
		<div class="control-group">
			<label class="control-label"></label>
			<div class="controls edit">
				<p><a href="@{submit.FileUpload.fileUpload(subId)}">[edit your uploaded files]</a></p>
			</div>
		</div>
		#{/ifEnabled}
	</fieldset>
	
	
	<legend>Final Submission</legend>

	<div class="alert alert-warning final-submission-warning">
		<div class="alert-content">
			<h2>Warning:</h2>
			<p>After pressing "Confirm and Submit" you cannot make any more changes to this submission.</p>
		</div>
	</div>
	
	<div class="span11 center"><input type="submit" name="submit_confirm" value="Confirm and Submit" class="btn btn-primary #{ifErrors} disabled #{/ifErrors}"/></div>
	
</form>

</div>