#{extends 'Submit/submitStep.html' /}
#{set title:'Vireo Thesis and Dissertation Submital System - Submission - Upload Your Files' /}

<div class="row pageHead">
	<h3 class="span11">Upload Your Files</h3>
</div>
<div class="row">
<div class="span8">
       <h4>Instructions:</h4>
    <p> #{verbatim}${instructions}#{/verbatim}</p>
    #{ifErrors}
    <div class="alert alert-error">
        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
        <div class="alert-content">
            <h4>Error:</h4>
            <ul>
                #{errors}
                    <li>${error}</li>
                #{/errors}
            </ul>
        </div>
    </div>
    #{/ifErrors}
    
	<form action="@{submit.FileUpload.fileUpload(subId)}" method="POST" class="form-horizontal" enctype="multipart/form-data">
		<input type="hidden" name="step" value="fileUpload"/>
		
		#{ifEnabled PRIMARY_ATTACHMENT}
		<fieldset id="primaryFileUpload">
			<legend>Upload Primary Document</legend>
            <p>#{fieldHelp PRIMARY_ATTACHMENT /}</p>
			<div class="control-group #{errorClass 'primaryDocument' /} #{fieldClass PRIMARY_ATTACHMENT /}">
				<label class="control-label" for="primaryFile"><span class="required-star">*</span> #{fieldLabel PRIMARY_ATTACHMENT /}:</label>

                #{if primaryAttachment == null}
                    <div class="controls">
                        <input type="file" id="primaryFile" class="input-file" name="primaryDocument">
                        <input type="submit" value="Upload" class="uploadBtn btn" name="uploadPrimary">
                        
                    </div>
                #{/if}
                #{else}
                    <div class="controls">
                        <p>
                            <a href="@{Student.viewAttachment(subId,primaryAttachment.getId(),primaryAttachment.getName())}" target="_blank">${primaryAttachment.getName()}</a>

                            (${primaryAttachment.getDisplaySize()})
                            <input type="submit" value="Delete Document" class="uploadBtn btn" name="replacePrimary">
                        </p>
                    </div>
                #{/else}
			</div>
		</fieldset>
		#{/ifEnabled}
		
		#{ifEnabled [SUPPLEMENTAL_ATTACHMENT,SOURCE_ATTACHMENT,ADMINISTRATIVE_ATTACHMENT]}
		<fieldset id="additionalFileUpload">
			<legend>Upload Additional Files</legend>
			<div class="control-group #{errorClass 'additionalDocument' /} #{fieldClass SUPPLEMENTAL_ATTACHMENT /} #{fieldClass SOURCE_ATTACHMENT /} #{fieldClass ADMINISTRATIVE_ATTACHMENT /}">
					<div class="controls hidden">
						<select id="documentType" class="input-select" name="attachmentType" style="margin-bottom:7px;">
                    	<option value="SUPPLEMENTAL">#{fieldLabel SUPPLEMENTAL_ATTACHMENT /}</option>
                        </select>
                    </div>
                <label class="control-label" for="additionalFile"><span class="required-star">*</span>Browse for Additional Document:</label>
                <div class="controls">
                    <input type="file" id="additionalFile" class="input-file" name="additionalDocument">
                    <input type="submit" value="Upload" class="uploadBtn btn" name="uploadAdditional">
                </div>
			</div>
		</fieldset>
		
		#{if additionalAttachments.size() > 0}
		<fieldset id="additionalFileUploadList">
			<legend>Uploaded additional files</legend>
			<div class="control-group">
                    <div class="controls">
                        #{list items:additionalAttachments, as:"attachment"}
                            <p>
                            <label>
                                <input type="checkbox" value="${attachment.getId()}" name="attachmentToRemove">
                                <a href="@{Student.viewAttachment(subId,attachment.getId(),attachment.getName())}" target="_blank">
                                    ${attachment.getName()}
                                </a> 
                                (${attachment.getType()} - ${attachment.getDisplaySize()})
                            </label>                                                     
                            </p>
                        #{/list}
                            <input type="submit" value="Remove Selected" class="uploadBtn btn" name="removeAdditional">                        
                    </div>
			</div>
		</fieldset>		
		#{/if}
		#{/ifEnabled}
		
		<div class="pull-right">
			<input type="submit" value="Save and Continue >>" class="btn btn-primary" name="submit_next">
		</div>
		
	</form>
</div>
<div id="stickyNotes" class="span4">
    #{list items:stickies, as:'sticky'}
       <div class="sticky-top"></div>
       <div class="sticky-bottom">#{verbatim}${sticky}#{/verbatim}</div>
    #{/list}
</div>
</div>