#{extends 'Submit/submitStep.html' /}
#{set title:'Vireo Thesis and Dissertation Submital System - Submission - License Agreement' /}

<div class="row pageHead">
	<h1>Honor Code</h1>
</div>

<div>
	<form action="@{submit.License.license(subId)}" method="post" class="form-inline">
	
		<input type="hidden" name="step" value="license"/>
		
		#{ifEnabled LICENSE_AGREEMENT}
		#{ifRequired LICENSE_AGREEMENT }
		<h2>Instructions:</h2>
		<p class="span">#{verbatim}${instructions}#{/verbatim}</p>
		#{/ifRequired}

		#{ifErrors}
		<div class="alert alert-error">
			<div class="alert-content">
				<h2>Error:</h2>
				<ul>
				    #{errors}
				    <li>${error}</li> 
				    #{/errors}
				</ul>
			</div>
		</div>
		#{/ifErrors}

		<div class="row center">
			<div style="margin:0 0 10px;">
				<label id="lalabel" class="checkbox #{if errors.forKey('licenseAgreement')}red#{/if}">
		            <input id="licenseAgreement" type="checkbox" required name="licenseAgreement" ${ licenseAgreement != null ? "checked='true'" : "" }/> #{fieldHelp LICENSE_AGREEMENT /}
				</label>
			</div>
		</div>
		#{/ifEnabled}
		
		#{ifEnabled UMI_RELEASE}
		<h2>#{fieldLabel UMI_RELEASE /}</h2>
		
		#{ifRequired UMI_RELEASE }
		<p class="span">You must agree to the non-exclusive license below in order to continue:</p>
		#{/ifRequired}
		
		<div class="well">#{verbatim}${proquestText}#{/verbatim}</div>
		
		<div class="row center">
			<label id="palabel" class="checkbox #{if errors.forKey('proquestAgreement')}red#{/if}">
				<input id="proquestAgreement" type="checkbox" required name="proquestAgreement" ${ proquestAgreement != null ? "checked='true'" : "" }/> #{fieldHelp UMI_RELEASE /}
			</label>
		</div>	
	    #{/ifEnabled}
		
		<div class="span10 center">
	        <input type="submit" class="btn btn-primary" name="submit_next" value="Save and Continue" />
		</div>

	</form>
</div>