#{extends 'main.html' /}

<div class="row">

    #{if ! SUBMISSIONS_OPEN}
        <p class="alert alert-error">Submissions are currently closed; please contact your thesis office for more information.</p>
    #{/if}
    <div class="progress-container">
    	<ul id="submitSteps" class="unstyled progress-bar">
			<li class="progress-step -first ${"personalInfo".equals(request.actionMethod) ? "current" : ""}" id="step1Btn">
				<div  class="progress-content">
					<a class="progress-label" href="@{submit.PersonalInfo.personalInfo(subId)}">Verify your information</a>
					<span class="arrow-right"></span>
				</div>
			</li>
			<li class="progress-step ${"license".equals(request.actionMethod) ? "current" : ""}" id="step2Btn">
					<div  class="progress-content">
						<span class="arrow-left"></span>
						<a class="progress-label" href="@{submit.License.license(subId)}">Honor code</a>
					<span class="arrow-right"></span>
				</div>
			</li>
			<li class="progress-step ${"documentInfo".equals(request.actionMethod) ? "current" : ""}" id="step3Btn">
					<div  class="progress-content">
						<span class="arrow-left"></span>
						<a class="progress-label" href="@{submit.DocumentInfo.documentInfo(subId)}">Thesis Information</a>
						<span class="arrow-right"></span>
					</div>
			</li>
			<li class="progress-step ${"fileUpload".equals(request.actionMethod) ? "current" : ""}" id="step4Btn">
					<div  class="progress-content">
						<span class="arrow-left"></span>
						<a class="progress-label" href="@{submit.FileUpload.fileUpload(subId)}">Upload your files</a>
						<span class="arrow-right"></span>
					</div>
			</li>
			<li class="progress-step -last ${"confirm".equals(request.actionMethod) ? "current" : ""}" id="step5Btn">
					<div  class="progress-content">
						<span class="arrow-left"></span>
						<a href="@{Submit.Confirm.confirm(subId)}">Confirm &amp; submit</a>
				</div>
			</li>
	    </ul>
    </div>
</div>

#{doLayout /}
