#{extends 'main.html' /}
#{set title:'Thesis Central' /}

<div class="intro">
	#{verbatim}${ instructionsBefore }#{/verbatim}
</div>

<div class="form-actions row center">
		#{if currentUser != null && securityContext.isAuthenticated()}
		    #{if showSubmissionButton}
				#{if subStatus.getSubmissionsOpen()}
					<a href="@{Student.submissionList()}" class="btn btn-primary" role="button">Manage/View your submission(s)</a>
				#{/if}
				#{else}
					<a href="@{Student.submissionList()}" class="btn btn-primary" role="button">Submission Overview</a>
				#{/else}
			#{/if}
		#{/if}
		#{else}
		<a href="@{Authentication.loginList()}"  class="btn btn-primary" role="button">Login</a>
		#{/else}
</div>
<div class="row">
#{verbatim}${ instructionsAfter }#{/verbatim}
</div>